@font-face {
  font-family: "NewPolivanova";
  src: url('NewPolivanova.ttf') format('truetype');
}

html, body  {
  margin:0;
  padding:0;
  height:100%;
  width:100%;
}

.intro {
  padding: 20px;
}

.filters {
  position: relative;
  display: flex;
  margin: 0px auto 20px;
  width: 90vw;
  flex-wrap: wrap;
}

.filter, .sort, .reset {
  display: flex;
  margin-right: 20px;
  margin-bottom: 10px;
}

.total {
  position: absolute;
  top: 50px;
  right: 0px;
}

.total .counter {
  font-weight: 600;
}

#osd {
  font-family: "NewPolivanova";
  margin: 0px auto;
  height:90vh;
  width:90vw;
  overflow:hidden;
}

input {
  font-family: "NewPolivanova";
  padding: .2em .6em;
  margin: 0 .4em 0 0;
  height: 36px;
  font-size: 16px;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
}

#id {
  width: 60px;
}

#root_number,
#par_index {
  width: 100px;
  font-family: Georgia, serif;
}

.select-style.class {
  width: 65px;
}

.select-style.par_index {
  width: 100px;
}

#class {
  padding: 8px 8px;
  font-size: 14px;
  width: 65px;
  font-family: Georgia, serif;
}

.select-style {
  border: 1px solid #ccc;
  width: 50px;
  border-radius: 3px;
  overflow: hidden;
  background: #fafafa url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 90% 50%;
}

.select-style select {
  padding: 10px 8px;
  margin: 0px;
  width: 100%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

.select-style select:focus {
  outline: none;
}

.ui-keyboard,
.ui-keyboard-button {
  font-family: "NewPolivanova";
}

button {
  border: 1px solid #999;
  border: transparent;
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
  font-size: 14px;
  font-family: Georgia, serif;
  height: 34px;
}

button.active {
  box-shadow: 0 0px 2px 2px rgba(0,0,0,.15) inset, 0 0 6px rgba(0,0,0,.2) inset;
  border-color: #000\9;
}
